body{
    margin:0;
    background-color: black;
}

img{
    transform: rotate(90deg) translateX(180px);
    width:1000px;
}

.global{
    display:flex;
    flex-direction: row;
    width:100%
}

.borde1 , .borde2{ 
    width:20%;
}

.texto {
    width:60%;
    background-color: red;
}