*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

img{
    width: 100%;
}

.global{
    display:flex;
    flex-direction: row;
    padding:5px;
}

.column{
    flex: 25%;
    padding: 0px;
}
.column .texto{
    margin-right: 10px;
    margin-left: 10px;
    color:white;
}
.column .img-derecha{
    margin-top: 5%;
    width: 25%;
    margin-left: 77%;
}
.column .img-izquierda{
    margin-top: 5%;
    width: 25%;
    margin-right: 100%;
}