body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to right, rgba(12, 12, 12, 0.5),rgba(39, 39, 39, 0.5)), url("../imagenes/fondo2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.autocenter { 
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
}

.animacion{
    margin-top: 20%;
    margin-left:30%;

}